body {
	padding-top: 100px;
	text-align: center;
}

th {
	text-align: center;
}

.row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn {
	margin: 10px;
}

#subjects {
	display: none;
}

.badge {
	position: absolute;
	right: 25px;
}
