body {
	background-color:azure;
}

h1 {
	background-image:url(bg-h1.png);
	color:darkslateblue;
	border-style:groove;
	padding:100px 10px 20px 10px;
	text-align:center;
	font:70px bold Verdana, sans-serif;
}

h2 {
	color:navy;
	text-align:center;
	font:35px, calibri;
}

p {
	text-indent:10px;
	font:20px Georgia, Serif;
	margin-left:10px;
}

ul {
	font:20px bold Georgia, Serif;
	margin-left:20px;
}

a:link {
	text-align:center;
}

form {
	text-align:center;
}
